# 应用配置
DEBUG=False
SECRET_KEY=asdiuyhgiouhadsijfhngfgoiweq4r89723qbvnbgyBTIUYGFUWSAYCGTdsoi

# 邮件配置
SMTP_SERVER=
SMTP_PORT=465
SENDER_EMAIL=
EMAIL_SENDER_PASSWORD=your-password

# 数据库配置
DB_HOST=
DB_PASSWORD=your-db-password
